<div class="row">
    <a routerLink="products/create" class="btn btn-primary">Add Product</a>
</div>

<div class="row">
    <table class="table" *ngIf="products && products.length">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.status}}</td>
                <td>
                    <a class="text-info" [routerLink]="['/products/edit/', product.id]">Edit</a>
                </td>
                <td>
                    <a class="text-danger" href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>