<h3 class="row">List Component</h3>

<ul *ngIf="posts && posts.length">
    <li *ngFor="let post of posts">
        <h3>{{post.id}}</h3>
        <h3>{{post.title}}</h3>
        <h3>{{post.body}}</h3>
        <hr>
    </li>
</ul>