<div class="row">
    <h3>Quote Component - {{name}}</h3>
    <textarea class="padtop" readonly *ngIf="selectedAuthor">{{selectedAuthor.quote}}</textarea>
    <button (click)=get()>Get Author</button>
</div>