<h3 class="row">Reactive Forms</h3>

<form class="form-horizontal" [formGroup]=registrationForm (submit)=logForm(form1)>
    <div class="form-group">
        <label>FirstName: </label>
        <input type="text" class="form-control" formControlName=firstname>
        <div class="text-danger" *ngIf="registrationForm.get('firstname').hasError('required') && registrationForm.get('firstname').touched">
            Firstname is required...
        </div>
    </div>
    <div class="form-group">
        <label>LastName: </label>
        <input type="text" class="form-control" formControlName=lastname>
        <div class="text-danger" *ngIf="registrationForm.get('lastname').touched">
            <p *ngIf="registrationForm.get('lastname').hasError('required')">Lastname is required...</p>
            <p *ngIf="registrationForm.get('lastname').hasError('minlength')">MinLenth Error...</p>
            <p *ngIf="registrationForm.get('lastname').hasError('maxlength')">MaxLength Error...</p>
        </div>
    </div>
    <div formGroupName=address>
        <div class="form-group">
            <label>City: </label>
            <input type="text" class="form-control" formControlName=city>
        </div>
        <div class="form-group">
            <label>Zip: </label>
            <input type="text" class="form-control" formControlName=zip>
        </div>
    </div>
    <div class="form-group">
        <input [disabled]=registrationForm.invalid type="submit" class="btn btn-primary" value="Save">
    </div>
</form>