<div class="container">
    <div class="row">
        <!-- <div class="col-4 product-item" [class]="product.isOnSale ? 'sale' : ''"> -->
        <div *ngFor="let product of products; let i = index" class="col-4 product-item" [class.sale]="product.isOnSale">
            <div class="image">
                <img [src]="product.imageURL">
            </div>
            <div class="details">
                <div>{{product.name}}</div>
                <div>{{product.price}} RSD</div>
                <div>
                    <!-- <button [disabled]="product.quantity == 0" (click)="decreaseQuantity()">-</button> -->
                    <button *ngIf="product.quantity > 0" (click)="decreaseQuantity(i)">-</button>
                    <select (change)="setQuantity($any($event.target).value, i)">
                        <!-- <select (change)="setQuantity($event.target)"> -->
                        <option [value]="qty" *ngFor="let qty of quantities">
                            {{qty}}
                        </option>
                    </select>
                    <span>{{product.quantity}}</span>
                    <button (click)="increaseQuantity(i)">+</button>
                </div>
            </div>
        </div>

        <!-- <div class="col-4 product-item" [class.sale]="product2.isOnSale">
            <div class="image">
                <img [src]="product2.imageURL">
            </div>
            <div class="details">
                <div>{{product2.name}}</div>
                <div>{{product2.price}} RSD</div>
                <div>
                    <button *ngIf="product2.quantity > 0" (click)="decreaseQuantity()">-</button>
                    <select>
                        <option [value]="qty" *ngFor="let qty of quantities">
                            {{qty}}
                        </option>
                    </select>
                    <span>{{product2.quantity}}</span>
                    <button (click)="increaseQuantity()">+</button>
                </div>
            </div>
        </div>

        <div class="col-4 product-item" [class.sale]="product3.isOnSale">
            <div class="image">
                <img [src]="product3.imageURL">
            </div>
            <div class="details">
                <div>{{product3.name}}</div>
                <div>{{product3.price}} RSD</div>
                <div>
                    <button *ngIf="product3.quantity > 0" (click)="decreaseQuantity()">-</button>
                    <select>
                        <option [value]="qty" *ngFor="let qty of quantities">
                            {{qty}}
                        </option>
                    </select>
                    <span>{{product3.quantity}}</span>
                    <button (click)="increaseQuantity()">+</button>
                </div>
            </div>
        </div> -->
    </div>
</div>