<h3>Create a product</h3>

<div class="container">
    <form (ngSubmit)="createProduct(productForm)" #productForm="ngForm">
        <div ngModelGroup="product">
            <div>
                <input type="text" ngModel #productName="ngModel" name="name" placeholder="Product name" required>
            </div>

            <div class="error" *ngIf="productName.invalid && (productName.dirty || message)">
                Product name is required.
            </div>
            
            <div>
                <input type="number" ngModel #productPrice="ngModel" name="price" placeholder="Product price" required>
            </div>

            <div class="error" *ngIf="productPrice.invalid && (productPrice.dirty || message)">
                Product price is required.
            </div>

            <div>
                <input type="text" ngModel #productImageURL="ngModel" name="imageURL" placeholder="Product image URL" required
                pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)">
            </div>


            <div class="error" *ngIf="productImageURL.invalid && (productImageURL.dirty || message)">
                <!-- <div *ngIf="productImageURL.error.required"> -->
                    Product image url is required.
                <!-- </div>
                <div *ngIf="productImageURL.error.pattern">
                    Product image url is pattern is wrong.
                </div> -->

            </div>

            <div>
                <input type="checkbox" ngModel name="isOnSale" placeholder="isOnSale"> On Sale
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        {{message}}
    </form>
</div>