.product-item{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

.product-item .details{
    text-align: center;
}

.sale{
    background-color: greenyellow;
}
