<div class="product-item" [class]="product.isOnSale ? 'sale' : ''">
        <div class="image">
            <img [src]="product.imageURL">
        </div>
        <div class="details">
            <div>{{product.name}}</div>
            <div>{{product.price}} RSD</div>
            <div>
                <button [disabled]="product.quantity == 0" (click)="decreaseQuantity()">-</button>
                <span>{{product.quantity}}</span>
                <button (click)="increaseQuantity()">+</button>
            </div>
        </div>
</div>
