<h3 class="row">DataList Component</h3>

<h4>Selected Person: {{selectedPerson}}</h4>

<ul>
    <li *ngFor="let person of personList">
        <a href="http://www.google.com" (click)=select($event,person)>{{person}}</a>
    </li>
</ul>
