<div class="container">
    <div class="options">
        <div class="options">
            <a class="{{isSelected(author) && 'selected' || ''}}" *ngFor="let author of list" (click)=selectAuthor(author)>{{author.name}}</a>
        </div>
        <div>
            <textarea class="padtop" readonly *ngIf="selectedAuthor">{{selectedAuthor.quote}}</textarea>
        </div>
    </div>
</div>