/* .game-title{
    text-align: center;
} */

section{
    text-align: center;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 50px auto;
}

.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-shadow: 0 0 0 1px black;
    cursor: pointer;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 25px;
}