<h3 class="row">Templated Forms</h3>

<form class="form-horizontal" #form1="ngForm" (submit)=logForm(form1)>
    <div class="form-group">
        <label>FirstName: </label>
        <input type="text" class="form-control" name="firstname" ngModel>
    </div>
    <div class="form-group">
        <label>LastName: </label>
        <input type="text" class="form-control" name="lastname" ngModel>
    </div>
    <div ngModelGroup=address>
        <div class="form-group">
            <label>City: </label>
            <input type="text" class="form-control" name="city" ngModel>
        </div>
        <div class="form-group">
            <label>Zip: </label>
            <input type="text" class="form-control" name="zip" ngModel>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save">
    </div>
</form>

<!-- <form class="form-horizontal" #form1="ngForm" (submit)=logForm(form1)>
    <div class="form-group">
        <label>FirstName: </label>
        <input type="text" class="form-control" name="firstname" ngModel>
    </div>
    <div class="form-group">
        <label>LastName: </label>
        <input type="text" class="form-control" name="lastname" ngModel>
    </div>
    <div class="form-group">
        <label>City: </label>
        <input type="text" class="form-control" name="city" ngModel>
    </div>
    <div class="form-group">
        <label>Zip: </label>
        <input type="text" class="form-control" name="zip" ngModel>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save">
    </div>
</form> -->