<h3 class="row">List Component - Structural Directives</h3>

<h4>Selected Person: {{selectedPerson}}</h4>

Filter: <input type="text" [(ngModel)]=by>

<ul>
    <li *ngFor="let person of personList | filter:by">
        <a href="http://www.google.com" (click)=select($event,person)>{{person}}</a>
    </li>
</ul>