<h3 class="row">Model Based Forms</h3>

<form class="form-horizontal" (submit)=logForm()>
    <div class="form-group">
        <label>FirstName: </label>
        <input type="text" class="form-control" name="firstname" [(ngModel)]=person.firstname>
    </div>
    <div class="form-group">
        <label>LastName: </label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]=person.lastname>
    </div>
    <div class="form-group">
        <label>City: </label>
        <input type="text" class="form-control" name="city" [(ngModel)]=person.address.city>
    </div>
    <div class="form-group">
        <label>Zip: </label>
        <input type="text" class="form-control" name="zip" [(ngModel)]=person.address.zip>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save">
    </div>
</form>