<h3 class="row">Counter Component</h3>
<div class="row">
    <div class="col-md-4">
        <input type="number" class="form-control" [(ngModel)]=count>
    </div>
    <div class="col-md-1">
        <button class="btn btn-info btn-block" [disabled]=flag (click)=inc()>+</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-info btn-block" [disabled]=flag (click)=dec()>-</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-success btn-block" (click)=reset()>Reset</button>
    </div>
</div>