<form class="from-horizontal" [formGroup]=productForm (submit)=logForm()>
    <div class="form-group">
        <label>Name: </label>
        <input type="text" class="form-control" formControlName=name>
        <div class="text-danger" *ngIf="productForm.get('name').hasError('required') && productForm.get('name').touched">
            Product Name is required...
        </div>
    </div>
    <div class="form-group">
        <label>Description: </label>
        <input type="text" class="form-control" formControlName=description>
        <div class="text-danger" *ngIf="productForm.get('description').hasError('required') && productForm.get('description').touched">
            Product Description is required...
        </div>
    </div>
    <div class="form-group">
        <label>Status: </label>
        <input type="text" class="form-control" formControlName=status>
        <div class="text-danger" *ngIf="productForm.get('status').hasError('required') && productForm.get('status').touched">
            Product Status is required...
        </div>
    </div>
    <div class="form-group">
        <input [disabled]=productForm.invalid type="submit" class="btn btn-primary" value="Save">
    </div>
</form>